<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    <meta charset="UTF-8">
    <title>Information Retrieval</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/search/">Deep Search</a></li>
            <li><a href="http://127.0.0.1:8000/quicksearch/">Quick Search</a></li>
            <li><a href="http://127.0.0.1:8000/similarities/">Member Similarities</a></li>
            <li><a href="http://127.0.0.1:8000/keywords_party/">Party Keywords</a></li>
            <li><a href="http://127.0.0.1:8000/keywords_member/">Member Keywords</a></li>
            <li><a href="http://127.0.0.1:8000/svd/">SVD</a></li>
            <li><a href="http://127.0.0.1:8000/similar_speeches/">Similar Speeches</a></li>
            <li><a href="http://127.0.0.1:8000/similar_speeches_minhash/">MINHASH Speeches</a></li>
            <li><a href="http://127.0.0.1:8000/summarizer/">Summarizer</a></li>
        </ul>
    </nav>

    <!-- Your page content here -->

</body>

</html>