<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="WebApp/IRWebApp/templates/IRWebApp/css/style.css">
    <title>Your Site Name</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/search/">Deep Search</a></li>
            <li><a href="http://127.0.0.1:8000/quicksearch/">Quick Search</a></li>
            <li><a href="http://127.0.0.1:8000/similarities/">Member Similarities</a></li>
            <li><a href="http://127.0.0.1:8000/keywords_party/">Party Keywords</a></li>
            <li><a href="http://127.0.0.1:8000/keywords_member/">Member Keywords</a></li>
        </ul>
    </nav>

    <!-- Your page content here -->

</body>
</html>
