<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keywords per Member</title>
</head>
<body>
    <h1>Keywords per member per year</h1>
    <table>
        <thead>
            <tr>
                <th>Member</th>
                <th>Year</th>
                <th>Keywords</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.member_name }}</td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.keywords }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <!-- <ul>
        {% for item in data %}
            <li>Πολιτική Παράταξη {{ item.political_party }}</li>
            <li>Έτος {{ item.year }}</li>
            <li>Keywords {{ item.keywords }}</li>   
        {% endfor %}
    </ul> -->
</body>
</html>
