<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Similar Speeches</title>
</head>

<body>
    <h1>Find similar speech</h1>
    <form method="post" action="{% url 'similar_speeches' %}">
        {% csrf_token %}
        <input type="number" name="requested_speech_id" placeholder="Enter speech ID" required>
        <input type="number" name="k" placeholder="k similar speeches">
        <button type="submit">Search</button>
    </form>
    <!-- Uncomment the code below to unveil the Create M-Tree button
         in case you want to recreate the M-Tree from scratch. -->
    <!-- <h1>Create Tree</h1>
    <form method="post" action="{% url 'similar_speeches' %}">
        {% csrf_token %}
        <input type="hidden" name="create_m_tree">
        <button type="submit">Create Trees</button>
    </form> -->
    {% if data %}
    <h1>Similar Speeches</h1>
    <table>
        <thead>
            <tr>
                <th>Member name</th>
                <th>Speech</th>
            </tr>
        </thead>
        <tbody>
            <p>Some row is the initial speech, for which we're looking for similar ones. There is no promise of order.</p>
            {% for item in data %}
            <tr>
                <td>{{ item.member_name }}</td>
                <td>{{ item.processed_speech }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <table>
        <tr>
            <th>Result</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.member_name }}</td>
            <td>{{ result.political_party }}</td>
            <td>{{ result.speech }}</td>
        </tr>
        {% endfor %}
    </table> -->
    {% endif %}


</body>

</html>